<!-- Footer -->

<div class="container" id="footer">
	<div class="row"><hr class="span12" /></div>
	<div class="row">
		<div class="span6" id="bottom_links">
			<ul class="unstyled">
				<li><a href="{{ path('index') }}">Home</a></li>
				<li><a href="{{ path('help_index') }}">Help</a></li>
				<li><a href="{{ path('contact') }}">Contact</a></li>
				<li><a href="{{ path('credits') }}">Credits</a></li>
				<li><a href="{{ path('legal') }}">Legal</a></li>
			</ul>
		</div>
		<div class="span6" id="license">
<p>
	Copyright &copy; <a xmlns:cc="http://creativecommons.org/ns#" href="http://www.dallinlauritzen.com" property="cc:attributionName" rel="cc:attributionURL">Dallin Lauritzen</a>
	<a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/3.0/80x15.png" /></a><br />

	Built on <a href="http://symfony.com">Symfony</a> and <a href="http://twitter.github.com/bootstrap/index.html">Bootstrap</a>
</p>

<div class="invisible">This <span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/InteractiveResource" rel="dct:type">work</span> 
by <a xmlns:cc="http://creativecommons.org/ns#" href="http://www.dallinlauritzen.com" property="cc:attributionName" rel="cc:attributionURL">Dallin Lauritzen</a> 
is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike 3.0 Unported License</a>.</div>
		</div>
	</div>
</div>
<!-- End: Footer -->