{% extends 'DLauritzForumPagesBundle::pagelayout.html.twig' %}

{% block other_javascript %}
function setConfirmPassword(ok) {
	if (ok) {
		$("#passok").removeClass("icon-remove").addClass("icon-ok");
	} else {
		$("#passok").removeClass("icon-ok").addClass("icon-remove");
	}
}

function checkConfirmPassword(e) {
	pass = $("#{{ form.password.first.vars.id }}");
	conf = $("#{{ form.password.second.vars.id }}");

	ret = ($(pass).val() == $(conf).val()) && $(pass).val() != '';

	setConfirmPassword(ret);
}
{% endblock %}

{% block jquery_ready %}
	{{ parent() }}
	$("#{{ form.password.first.vars.id }}").keyup(checkConfirmPassword);
	$("#{{ form.password.second.vars.id }}").keyup(checkConfirmPassword);
{% endblock %}

{% block title %}Register{% endblock %}

{% block content %}
<div class="row">
	<div class="span6 offset2">
		{{ form_errors(form) }}
		<form class="well form-horizontal" id="registerform" name="registerform" 
				action="{{ path('register') }}" method="POST" enctype="{{ form_enctype(form) }}">
			<fieldset>
				<legend>
					Register
					<small> &mdash; All fields are required</small>
				</legend>
				<div class="control-group">
					{{ form_label(form.username, "Username", {'attr': {'class': 'control-label'}}) }}
					<div class="controls">
						{{ form_widget(form.username, { 'attr': { 'class': 'input-large' }}) }}
						<span class="help-inline">{{ form_errors(form.username) }}</span>
					</div>
				</div>
				<div class="control-group">
					{{ form_label(form.password.first, "Password", {'attr': {'class': 'control-label'}}) }}
					<div class="controls">
						{{ form_widget(form.password.first, { 'attr': { 'class': 'input-large' }}) }}
						<span class="help-inline">{{ form_errors(form.password) }}</span>
					</div>
				</div>
				<div class="control-group">
					{{ form_label(form.password.second, "Confirm Password", { 'attr': { 'class': 'control-label' }}) }}
					<div class="controls">
						{{ form_widget(form.password.second, { 'attr': { 'class': 'input-large' }}) }}
						<span class="help-inline"><i id="passok" class="icon-remove"></i></span>
					</div>
				</div>
				<div class="control-group">
					{{ form_label(form.email, "E-Mail Address", { 'attr': { 'class': 'control-label' }}) }}
					<div class="controls">
						{{ form_widget(form.email, { 'attr': { 'class': 'input-large' }}) }}
						<span class="help-inline">{{ form_errors(form.email) }}</span>
					</div>
				</div>

				<legend>
					Preferences
					<small> &mdash; For your happiness</small>
				</legend>
				<div class="control-group">
					<label class="control-label" for="{{ form.display_name.vars.id }}">
						Display Name
						<i rel="popover" title="Display Name" class="icon-question-sign" data-content="Your Display Name is what other users see when you post content."></i>
					</label>
					<div class="controls">
						{{ form_widget(form.display_name, { 'attr': { 'class': 'input-large' }}) }}
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="{{ form.display_name.vars.id }}">
						Time Zone
						<i rel="popover" title="Time Zone" class="icon-question-sign" data-content="We use this to format the times you see. It keeps things straight."></i>
					</label>
					<div class="controls">
						{{ form_widget(form.timezone) }}
					</div>
				</div>
				<div class="form-actions">
					<button type="submit" class="btn btn-primary">Submit</button>
					<button class="btn">Cancel</button>
					<button type="reset" class="btn">Clear</button>
				</div>
				{{ form_rest(form) }}
			</fieldset>
		</form>
	</div>
</div>
{% endblock %}

