{% extends 'DLauritzForumPagesBundle::pagelayout.html.twig' %}

{% block other_javascript %}
function setConfirmPassword(ok) {
	if (ok) {
		$("#passok").removeClass("icon-remove").addClass("icon-ok");
	} else {
		$("#passok").removeClass("icon-ok").addClass("icon-remove");
	}
}

function checkConfirmPassword(e) {
	pass = $("#{{ form.password.first.vars.id }}");
	conf = $("#{{ form.password.second.vars.id }}");

	ret = ($(pass).val() == $(conf).val()) && $(pass).val() != '';

	setConfirmPassword(ret);
}
{% endblock %}

{% block jquery_ready %}
	{{ parent() }}
	first = $("#{{ form.password.first.vars.id }}");
	second = $("#{{ form.password.second.vars.id }}");
	$(first).keyup(checkConfirmPassword);
	$(second).keyup(checkConfirmPassword);

	$("#registersubmit").click(function() {
		$(first).val($.md5($(first).val()));
		$(second).val($.md5($(second).val()));
	});
{% endblock %}

{% block title %}Register{% endblock %}

{% block content %}
<div class="container">
<div class="row">
	<div class="span6 offset2">
		{{ form_errors(form) }}
		<form class="well form-horizontal" id="registerform" name="registerform" 
				action="{{ path('register_check') }}" method="POST" enctype="{{ form_enctype(form) }}">
			<p>
				Fill out the form below to sign up. We'll send you a verification email with a 
				link to activate your account. Once you're verified, log in and have fun!
			</p>
			<fieldset>
				<legend>
					Register
					<small> &mdash; All fields are required</small>
				</legend>
				<div class="control-group">
					<label class="control-label" for="{{ form.email.vars.id }}">
						E-Mail Address
						<i rel="popover" class="icon-question-sign" title="E-Mail Address" 
							data-content="You sign in with this address."></i>
					</label>
					<div class="controls">
						{{ form_widget(form.email, { 'attr': { 'class': 'input-large' }}) }}
						<span class="help-inline">{{ form_errors(form.email) }}</span>
					</div>
				</div>
				<div class="control-group">
					{{ form_label(form.password.first, "Password", {'attr': {'class': 'control-label'}}) }}
					<div class="controls">
						{{ form_widget(form.password.first, { 'attr': { 'class': 'input-large' }}) }}
						<span class="help-inline">{{ form_errors(form.password) }}</span>
					</div>
				</div>
				<div class="control-group">
					{{ form_label(form.password.second, "Confirm Password", { 'attr': { 'class': 'control-label' }}) }}
					<div class="controls">
						{{ form_widget(form.password.second, { 'attr': { 'class': 'input-large' }}) }}
						<span class="help-inline"><i id="passok" class="icon-remove"></i></span>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="{{ form.display_name.vars.id }}">
						Display Name
						<i rel="popover" title="Display Name" class="icon-question-sign" 
							data-content="Your Display Name is what other users see when you post content."></i>
					</label>
					<div class="controls">
						{{ form_widget(form.display_name, { 'attr': { 'class': 'input-large' }}) }}
					</div>
				</div>

				<div class="form-actions">
					<button type="submit" id="registersubmit" class="btn btn-primary">Submit</button>
					<a class="btn" href="{{ path('index') }}">Cancel</a>
					<button type="reset" class="btn">Clear</button>
				</div>
				{{ form_rest(form) }}
			</fieldset>
		</form>
	</div>
</div>
</div>
{% endblock %}

